<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>474162E2-66A4-4B00-AC4F-EAD308248CBA.playgroundpage</string>
		<string>A28B2695-5339-4A7E-B538-3D4C1EF98E23.playgroundpage</string>
		<string>F3F9BF8F-6E16-470A-8485-F771C510F7C5.playgroundpage</string>
	</array>
</dict>
</plist>
