<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>5714FBD7-3F0F-4232-9FE3-68DB16A8B94B.playgroundpage</string>
		<string>464DD8A3-6C18-432C-A94D-429A6B2B538A.playgroundpage</string>
		<string>F09773C0-5E4A-46FC-BB2E-8CBEA54BA20C.playgroundpage</string>
	</array>
</dict>
</plist>
